.goal-screen {
  margin-left: 150px;
  margin-right: 50px;
}

.goal-title {
  font-size: 60px;
  font-weight: bold;
  color: #f7ff93;
  padding-top: 300px;
}

.content-line {
  padding-left: 0px;
  margin-top: 150px;
  font-size: 34px;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 50px;
    font-weight: bold;
    color: #f7ff93;
    margin-top: 12%;
    margin-left: 60%;
  }
}

@media screen and (max-width: 385px) {
  .nav {
    margin-left: -30px;
  }
}
