/*
* CSS File for the Hero/Home section of our website.
* Its imported directly to ./index.css
*/

.home-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 50px;
}

/* Home page Heading */
.home-heading {
  font-size: 64px;
  padding-bottom: 10px;
}

/* Home Page Image */
.hero-img {
  width: 60%;
}

/* Media query at width = 1110 px */
@media screen and (max-width: 1110px) {
  .home-screen {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text {
    margin-bottom: 40px;
  }
  .home-heading {
    text-align: center;
  }
}

.button{
  background-color: #A1E3D8;
  border: 3px solid #069A8E;
  color: #005555;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: 70px;
  width: 15%;
  border-radius: 15px;
  font-size: 24px;
}

.button:hover {
  transform: translateY(-4px);
}

.button:active {
  background-color: #069A8E;
  box-shadow: 0 5px #A1E3D8;
  transform: translateY(4px); 
}

.home-content{
  font-size: 24px;
  max-width: 80%;
  margin-top: 25px;
}

@media screen and (max-width: 1870px) {
  .button{
    font-size: 18px;
  }
}


@media screen and (max-width: 820px) {
  .button{
    display:none;
  }
}
@media screen and (max-width:550px) {
  .home-heading {
    font-size: 32px;
  }
  .home-content {
    font-size: 18px;
  }
}