/*
* CSS File for the Hero/Home section of our website.
* Its imported directly to ./index.css
*/

/* Home Screen CSS Starts */
.home-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 50px;
}

/* Home page Heading */
.home-heading {
  font-size: 64px;
  padding-bottom: 10px;
}

/* Home page content */
.home-content {
  font-size: 24px;
  margin-top: 25px;
}

/* Home Page Image */
.home-img {
  width: 60%;
}

/* highlighting the crucial environmental issues */
.highlight {
  color: #f3f293;
  font-weight: bolder;
}

/* Home Button CSS */
.button {
  background-image: linear-gradient(to right, #a1e3d8, #f3f293);
  border: 3px solid #069a8e;
  color: #003f3f;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height: 70px;
  width: 200px;
  border-radius: 15px;
  font-size: 24px;
}

/* Hover effects on button */
.button:hover {
  transform: translateY(-4px);
  font-weight: bolder;
}

/* Media query at width = 1430 px */
@media screen and (max-width: 1430px) {
  .home-heading {
    font-size: 45px;
    /* reducing Home page heading font size */
  }
  .home-content {
    font-size: 20px;
    /* reducing Home page content font size */
  }
}

/* Media query at width = 1110 px */
@media screen and (max-width: 1110px) {
  .home-screen {
    flex-direction: column;
    justify-content: center;
  }
  .home-text {
    margin-bottom: 40px;
  }
  .home-heading {
    text-align: center;
  }
  .home-content {
    text-align: center;
  }
  .button {
    display: none;
    /* Making button diappear at smaller view ports */
  }
  .topnav-link {
    display: none;
    /* Making navbar links diappear at smaller view ports */
  }
}

/* Media query at width = 550 px */
@media screen and (max-width: 550px) {
  .home-screen {
    padding-left: 80px;
    padding-right: 20px;
  }
}


@media screen and (max-width:480px) {
  .home-heading{
    font-size: 40px;
    padding-top: 150px;
  }
  .home-content{
    font-size: 16px;
    padding-top: 20px;
  }
}

@media screen and (max-width:352px) {
  .home-heading{
    font-size: 32px;
    padding-top: -50px;
  }
  .home-content{
    font-size: 16px;
    padding-top:20px;
    padding-left: -30px;
  }
  .home-img{
    display: none;
  }
}

@media screen and (max-height: 720px) {
  .home-img{
    display: none;
  }
  .home-heading{
    padding-top: 0px;
    font-size: 32px;
  }
}

/* Home Screen CSS Ends */