

/* description inside the modal */
.modal-text {
  color: #005555;
  font-size: 36px;
}

/* the full modal window */
.modal-window {
  position: fixed;
  background-color: rgb(0, 85, 85, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* divs inside the modal window */
.modal-window > div {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: #a1e3d8;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  overflow: auto;
}
/* modal headers */
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 300%;
  margin: 0 0 15px;
  color: #005555;
}

/* cross button on the modal */
.modal-close {
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 10px;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

/* button to open modal1 */
.btn {
  background: rgba(247, 255, 147, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-decoration: none;
  height: 300px;
  width: 400px;
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  margin-left: -20%;
  margin-top: 40%;
}


/* button to open modal2 */
.btn2 {
  background: rgba(247, 255, 147, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-decoration: none;
  height: 300px;
  width: 400px;
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  margin-left: 60%;
  margin-top: -70%;
}

/* button to open modal 3 */
.btn3 {
  background: rgba(247, 255, 147, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-decoration: none;
  height: 300px;
  width: 400px;
  text-align: center;
  font-size: 35px;
  padding-top: 10px;
  margin-left: -100%;
  margin-top: -120%;
}

.btn i {
  padding-right: 0.3em;
}


/* 'Major environmental issues in today's age */
.issues-heading {
  color: #f5f0da;
  text-align: right;
  position: absolute;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 60%;
  font-size: 48px;
}

/* making the modals responsive */
@media screen and (max-width: 1400px) {
  .btn {
    margin-left: -10%;
    margin-top: 100%;
    padding-top: 10px;
    font-size: 15px;
    color: #1b3b3b;
  }
  .btn2 {
    margin-left: -10%;
    margin-top: -90%;
    padding-top: 10px;
    font-size: 15px;
    color: #1b3b3b;
  }
  .btn3 {
    margin-left: -10%;
    margin-top: -120%;
    padding-top: 10px;
    height: 250px;
    font-size: 15px;
    color: #1b3b3b;
  }
  .issues-heading {
    font-size: 36px;
  }
}
.graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.graph {
  height: 400px;
  width: 500px;
}


@media screen and (max-width: 1386px) {
  .graph {
    /* margin-left: 10%; */
    /* height: 400px; */
    width: 100%;
    padding: 10px;
  }
  .text {
    font-size: 24px;
  }
}

@media screen and (max-width: 720px) {
  .btn {
    margin-left: 10%;
    margin-top: 100%;
    padding-top: 10px;
  }
  .btn2 {
    margin-left: 10%;
    margin-top: -90%;
    padding-top: 10px;
  }
  .btn3 {
    margin-left: 10%;
    margin-top: -120%;
    padding-top: 10px;
    height: 250px;
  }
  .issues-heading {
    margin-left: 10%;
  }
}

@media screen and (max-width: 595px) {
  .graph {
    margin-left: 1%;
    height: 300px;
  }
  .text {
    font-size: 20px;
  }
}
b {
  color: #005555;
}

@media screen and (max-width: 517px) {
  .btn {
    margin-left: 10%;
    margin-top: 110%;
    padding-top: 10px;
    width: 300px;
  }
  .btn2 {
    margin-left: 10%;
    margin-top: -150%;
    padding-top: 10px;
    width: 300px;
  }
  .btn3 {
    margin-left: 10%;
    margin-top: -200%;
    padding-top: 10px;
    height: 250px;
    width: 300px;
  }
  .issues-heading {
    margin-left: 10%;
  }
}

@media screen and (max-width: 430px) {
  .graph {
    margin-left: 0%;
    width: 100%;
    height: 300px;
  }
  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 385px) {
  .btn {
    margin-left: 10%;
    margin-top: 110%;
    padding-top: 10px;
    height: 200px;
    width: 200px;
  }
  .btn2 {
    margin-left: 10%;
    margin-top: -150%;
    padding-top: 10px;
    height: 200px;

    width: 200px;
  }
  .btn3 {
    margin-left: 10%;
    margin-top: -200%;
    padding-top: 10px;
    height: 200px;
    width: 200px;
  }
  .issues-heading {
    font-size: 36px;
    margin-left: 10%;
  }
}


@media screen and (max-height: 950px) {
      .btn {
    margin-left: 10%;
    margin-top: 110%;
    padding-top: 10px;
    height: 200px;
    width: 200px;
  }
  .btn2 {
    margin-left: 10%;
    margin-top: -150%;
    padding-top: 10px;
    height: 200px;

    width: 200px;
  }
  .btn3 {
    margin-left: 10%;
    margin-top: -200%;
    padding-top: 10px;
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-height: 720px) {
    .btn {
    margin-left: 10%;
    margin-top: 200px;
    padding-top: 10px;
    height: 200px;
    width: 200px;
  }
  .btn2 {
    margin-left: 10%;
    margin-top: -150%;
    padding-top: 10px;
    height: 200px;

    width: 200px;
  }
  .btn3 {
    margin-left: 10%;
    margin-top: -200%;
    padding-top: 10px;
    height: 200px;
    width: 200px;
  }
    .issues-heading {
    font-size: 25px;
    margin-left: 10%;
    padding-top:0%;
  }
}
