.text {
  color: #069a8e;
  font-size: 36px;
}

.modal-window {
  position: fixed;
  background-color: rgb(0, 85, 85, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(247, 255, 147, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  overflow: auto;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 300%;
  margin: 0 0 15px;
  color: rgb(0, 85, 85, 0.9);
}

.modal-close {
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 10px;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.btn {
  background: rgba(247, 255, 147, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-decoration: none;
  height: 300px;
  width: 400px;
  text-align: center;
  padding-top: 50%;
  margin-left: -20%;
  margin-top: 40%;
}

.btn2 {
  background: rgba(247, 255, 147, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-decoration: none;
  height: 300px;
  width: 400px;
  text-align: center;
  padding-top: 50%;
  margin-left: 60%;
  margin-top: -70%;
}
.btn3 {
  background: rgba(247, 255, 147, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-decoration: none;
  height: 300px;
  width: 400px;
  text-align: center;
  padding-top: 50%;
  margin-left: -100%;
  margin-top: -120%;
}

.btn i {
  padding-right: 0.3em;
}

.major {
  font-size: 36px;
  color: #f5f0da;
  text-align: right;
  position: absolute;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 60%;
  font-size: 48px;
}
